<!-- <div class="container text-center">
  <div class="row m-4">
   
      <div class="col-3">
        <button class="btn btn-info" (click)="setSessionStorage()">
          Set Session Storage
        </button>
      </div>
      <div class="col-3">
        <button class="btn btn-info" (click)="getSessionStorage()">
          getSession Storage
        </button>
      </div>
      <div class="col-3">
        <button class="btn btn-info" (click)="removeSessionStorage()">
          Remove Session Storage
        </button>
      </div>
      <div class="col-3">
        <button class="btn btn-info" (click)="clearSessionStorage()">
          Clear Session Storage
        </button>
      </div>
    </div>
  </div>
  @if(sessionValue){
  <div class="row m-4">
    <div class="col-12">
      <h3>Session Storage Value: {{ sessionValue }}</h3>
    </div>
  </div>
  }@else {
    <div class="row m-4">
        <div class="col-12">
        <h3>Session Storage Value already removed</h3>
        </div>
    </div>
  } -->
 <hr>

 <div class="container text-center">
  <div class="row m-4">
   
      <div class="col-3">
        <button class="btn btn-info" (click)="setLocalStorage()">
          Set Local Storage
        </button>
      </div>
      <div class="col-3">
        <button class="btn btn-info" (click)="getLocalStorage()">
          get Local Storage
        </button>
      </div>
      <div class="col-3">
        <button class="btn btn-info" (click)="removeLocalStorage()">
          Remove Local Storage
        </button>
      </div>
      <div class="col-3">
        <button class="btn btn-info" (click)="clearLocalStorage()">
          Clear Local Storage
        </button>
      </div>
    </div>
  </div>
  @if(localValue){
  <div class="row m-4">
    <div class="col-12">
      <h3>Local Storage Value: {{ localValue }}</h3>
    </div>
  </div>
  }@else {
    <div class="row m-4">
        <div class="col-12">
        <h3>Local Storage Value already removed</h3>
        </div>
    </div>
  }
<hr>
<div class="container text-center">
  <div class="row m-4">
   
      <div class="col-3">
        <button class="btn btn-info" (click)="setSessionStorage()">
          Set Session Storage
        </button>
      </div>
      <div class="col-3">
        <button class="btn btn-info" (click)="getSessionStorage()">
          get Session Storage
        </button>
      </div>
      <div class="col-3">
        <button class="btn btn-info" (click)="removeSessionStorage()">
          Remove Session Storage
        </button>
      </div>
      <div class="col-3">
        <button class="btn btn-info" (click)="clearSessionStorage()">
          Clear Session Storage
        </button>
      </div>
    </div>
  </div>
  @if(sessionValue){
  <div class="row m-4">
    <div class="col-12">
      <h3>Session Storage Value: {{ sessionValue }}</h3>
    </div>
  </div>
  }@else {
    <div class="row m-4">
        <div class="col-12">
        <h3>Session Storage Value already removed</h3>
        </div>
    </div>
  }
<hr>
<!-- cookies -->
<div class="container text-center">
  <div class="row m-4">
   
      <div class="col-3">
        <button class="btn btn-info" (click)="setCookie()">
          Set Cookie
        </button>
      </div>
      <div class="col-3">
        <button class="btn btn-info" (click)="getCookie()">
          Get Cookie
        </button>
      </div>
      <div class="col-3">
        <button class="btn btn-info" (click)="removeCookie()">
          Remove Cookie
        </button>
      </div>
      <div class="col-3">
        <button class="btn btn-info" (click)="clearCookie()">
          Clear Cookie
        </button>
      </div>
    </div>
  </div>
  @if(cookieValue){
  <div class="row m-4">
    <div class="col-12">
      <h3>Cookie Value: {{ cookieValue }}</h3>
    </div>
  </div>
  }@else {
    <div class="row m-4">
        <div class="col-12">
        <h3>Cookie Value already removed</h3>
        </div>
    </div>
  }
