<div align="center">
  <h4>One Way Data Binding</h4>
  <div>
    <p>1. Interpolation</p>
    <p>{{ name }} from {{ topic }}</p>
  </div>
  <div>
    <p>2. Property Binding</p>
    <input type="" name="" id="" [value]="topic" />
    <div>
      <img [src]="image" alt="" />
    </div>
  </div>
  <div>
    <p>3. Event Binding</p>
    <button (click)="onSave()">Save</button>
    <br />
    <select (change)="onChange()">
      <option value="Country">Country</option>
      <option value="India">India</option>
      <option value="Nepal">Nepal</option>
      <option value="United Kingdom">United Kingdom</option>
      <option value="Malaysia">Malaysia</option>
    </select>
    <div align="center">
      <p>4. Two way data binding</p>
      <input type="text" [(ngModel)]="random" />
      <p>{{ random }}</p>
    </div>
  </div>
</div>
