<div class="container mt-5 mb-5 mx-auto">
  <div
    class="w-75 m-2 p-5 bg-opacity-0   rounded bg-light shadow-lg border border-1 border-primary mx-auto"
  >
    <h1 class="text-center">Welcome to login</h1>
    <label class="m-2 text-uppercase font-weight-bold ml-5">Username: </label>
    <input
      type="text"
      class="bg-body-primary border border-3 border-primary form-control text-primary"
      placeholder="Enter your name"
    />

    <label class="m-2 text-uppercase font-weight-bold">Password: </label>
    <input
      class="form-control bg-body-primary border border-3 border-primary text-primary"
      type="password"
        id="password"

      placeholder="Enter password"
    />
    
    <button class="btn btn-primary mt-3 w-25 mx-auto d-block" (click)="loginData()">Login</button>
  </div>
</div>
